<!DOCTYPE html>
<html>
<head>
  <title>Contrato</title>
</head>
<body style="margin:40px;">
	<h1>Ejemplo conejo</h1>
	<table>
		<thead>
			<tr>
				<th>Datos</th>
				<th>Datos</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>[[idContrato]]</td>
				<td>[[folioContrato]]</td>
				
			</tr>
		</tbody>

	</table>	
	
 	
</body>
</html>

<!--
{ idContrato: 13,
  folioContrato: 'ZM-SE-8-12',
  idCliente: 12,
  nombreCliente: 'AUTOMOTRIZ LOPEZ Y GONZALEZ, S.A. DE C.V',
  tipoContrato: 8,
  nomTipoContrato: 'AAA_VIP',
  empresa: 'Zaragoza Motriz SA de CV',
  sucursal: 'Body',
  departamento: 'Servicio',
  fechaInicio: 1900-01-01T00:00:00.000Z,
  fechaTermino: 1900-01-01T00:00:00.000Z,
  limiteCredito: 50000,
  estatus: 1,
  rfc: 'RFC22222',
  cartera: 'zzzz' } ]-->