<!--Div principal-->
<div ng-init="init()">

    <div class="input-group searchinResults">
        <input type="text" class="form-control" placeholder="Introducir nombre o RFC..." ng-model="txtBusqueda">
        <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="BuscarCliente(txtBusqueda)">Buscar</button>
                                 </span>
    </div>
    <!-- /input-group -->
    <div class="tableContent">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>RFC</th>
                    <!--th>Correo</th-->
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat=" infoCliente in listaClientes">
                    <td> {{ infoCliente.idCliente }} </td>
                    <td> {{ infoCliente.nombre }} </td>
                    <td> {{ infoCliente.rfc }} </td>
                    <!--td> {{ infoCliente.email }} </td-->
                    <td>
                        <button class="btn btn-primary twiter" tooltip="Ir" data-toggle="tooltip" data-placement="top" title="Seleccionar" ng-click="cargarCliente(infoCliente);">
                            <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
