<!--<link rel="stylesheet" href="css/reporte.css">-->
<div ng-init="init()">
    <div class='col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Cliente: {{idCliente}}  - Detalle del Contrato </h1> </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-2.html"><i class="fa fa-home"></i>Regresar</a>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary pull-right" ng-click="generarPdf()">Generar Reporte</button>
    </div>
    <div class="col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left"><img src="\images\correcto.png" width="35" height="35">Pago Puntual</h2>
                <div class="actions panel_actions pull-right">
                    <a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- ********************************************** -->
                        <table id="puntual" class="display estiloTabla">
                            <thead>
                                <tr>
                                    <!--                                    <th rowspan="3">Origen</th>-->
                                    <th colspan="3">Origen</th>
                                    <th colspan="3">Detalle de documento</th>
                                    <th colspan="3">Detalle de pago</th>
                                </tr>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Sucursal</th>
                                    <th>Departamento</th>
                                    <th>Documento</th>
                                    <th>Serie</th>
                                    <th>Vencimiento</th>
                                    <th>Importe</th>
                                    <th>Fecha Pago</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pagado in listaPagados" ng-show="pagado.tipoPagoFecha===1">
                                    <td>{{ pagado.empresa }}</td>
                                    <td>{{ pagado.sucursal }}</td>
                                    <td>{{ pagado.departamento }}</td>
                                    <td>{{ pagado.idDocumento }}</td>
                                    <td>{{ pagado.serie }}</td>
                                    <td>{{ pagado.fechaVencimiento }}</td>
                                    <td>{{ pagado.cargo }}</td>
                                    <td>{{ pagado.fechaPago }}</td>
                                    <td><img src="\images\correcto.png" width="35" height="35"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- ********************************************** -->
                    </div>
                </div>

            </div>
        </section>
    </div>
    <div class="col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left"><img src="\images\alerta3.png" width="35" height="35">Pago Extemporáneo</h2>
                <div class="actions panel_actions pull-right">
                    <a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- ********************************************** -->
                        <table id="puntual" class="display estiloTabla">
                            <thead>
                                <tr>
                                    <!--                                    <th rowspan="3">Origen</th>-->
                                    <th colspan="3">Origen</th>
                                    <th colspan="3">Detalle de documento</th>
                                    <th colspan="4">Detalle de pago</th>
                                </tr>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Sucursal</th>
                                    <th>Departamento</th>
                                    <th>Documento</th>
                                    <th>Serie</th>
                                    <th>Vencimiento</th>
                                    <th>Importe</th>
                                    <th>Fecha Pago</th>
                                    <th>Dias Atraso</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pagado in listaPagados" ng-show="pagado.tipoPagoFecha===2">
                                    <td>{{ pagado.empresa }}</td>
                                    <td>{{ pagado.sucursal }}</td>
                                    <td>{{ pagado.departamento }}</td>
                                    <td>{{ pagado.idDocumento }}</td>
                                    <td>{{ pagado.serie }}</td>
                                    <td>{{ pagado.fechaVencimiento }}</td>
                                    <td>{{ pagado.cargo }}</td>
                                    <td>{{ pagado.fechaPago }}</td>
                                    <td>{{ pagado.diasAtraso }}</td>
                                    <th><img src="\images\alerta3.png" width="35" height="35"></th>
                                </tr>
                            </tbody>
                        </table>
                        <!-- ********************************************** -->
                    </div>
                </div>

            </div>
        </section>
    </div>
    <div class="col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left"><img src="\images\error2.png" width="32" height="32">No Pagado</h2>
                <div class="actions panel_actions pull-right">
                    <a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- ********************************************** -->
                        <table id="puntual" class="display estiloTabla">
                            <thead>
                                <tr>
                                    <!--                                    <th rowspan="3">Origen</th>-->
                                    <th colspan="3">Origen</th>
                                    <th colspan="3">Detalle de documento</th>
                                    <th colspan="4">Detalle de pago</th>
                                </tr>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Sucursal</th>
                                    <th>Departamento</th>
                                    <th>Documento</th>
                                    <th>Serie</th>
                                    <th>Vencimiento</th>
                                    <th>Importe</th>
                                    <th>Dias Vencidos</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="nopagado in listaNoPagados">
                                    <td>{{ nopagado.empresa }}</td>
                                    <td>{{ nopagado.sucursal }}</td>
                                    <td>{{ nopagado.departamento }}</td>
                                    <td>{{ nopagado.idDocumento }}</td>
                                    <td>{{ nopagado.serie }}</td>
                                    <td>{{ nopagado.fechaVencimiento }}</td>
                                    <td>{{ nopagado.importe }}</td>
                                    <td>{{ nopagado.diasVencidos }}</td>
                                    <th><img src="\images\error2.png" width="32" height="32"></th>
                                </tr>
                            </tbody>
                        </table>
                        <!-- ********************************************** -->
                    </div>
                </div>

            </div>
        </section>
    </div>



</div>
