<div ng-init="init()">

    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Crear Nuevo Contrato</h1>
        </div>
    </div>



    <!--Datos Contrato -->
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Datos del Cliente: </h2>
        </header>
        <div class="content-body">

            <!-- Boton Busqueda-->
            <div class="col-md-offset-10">
                <button class="btn btn-info" type="button" ng-click="BuscarCliente()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbspBuscar Cliente</button>
            </div>
            <!-- Fin Boton Busqueda-->

            <!-- Modal-->
            <div class="modal fade" id="searchCliente" ng-controller="contratoController">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Búsqueda de Clientes</h4>
                        </div>
                        <div class="modal-body">
                            <div class="input-group searchinResults">
                                <input type="text" class="form-control" placeholder="Introducir nombre o RFC..." ng-model="txtBusqueda">
                                <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="BuscarCliente(txtBusqueda)">Buscar</button>
                                 </span>
                            </div>
                            <!-- /input-group -->
                            <div class="tableContent">
                                <table class="table table-striped table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>RFC</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat=" infoCliente in listaClientes">
                                            <td> {{ infoCliente.nombre }} </td>
                                            <td> {{ infoCliente.rfc }} </td>
                                            <td>
                                                <button class="btn btn-primary twiter" tooltip="Ir" data-toggle="tooltip" data-placement="top" title="Seleccionar" ng-click="cargarCliente(infoCliente);">
                                                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                        </div>
                    </div>
                    <!-- Fin content -->
                </div>
                <!-- Fin dialog -->
            </div>
            <!-- Modal-->

            <!-- Acomodo 1-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Nombre:</label>


                        <input class="form-control" id="nombreCliente" ng-model="datosCliente[0].nombre" placeholder="Nombre">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-2" class="control-label">RFC:</label>
                        <input type="text" class="form-control" id="field-2" placeholder="RFC" ng-model="datosCliente[0].rfc">
                    </div>
                </div>
            </div>





            <div class="row">
                <div class="col-md-4">

                    <div class="form-group">
                        <label for="field-4" class="control-label">Telefono:</label>

                        <input type="text" class="form-control" id="field-4" placeholder="Teléfono" ng-model="datosCliente[0].telefono">
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="form-group">
                        <label for="field-5" class="control-label">Correo:</label>

                        <input type="text" class="form-control" id="field-5" placeholder="Correo" ng-model="datosCliente[0].email">
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="form-group">
                        <label for="field-6" class="control-label">Cel:</label>

                        <input type="text" class="form-control" id="field-6" placeholder="Teléfono Celular" ng-model="datosCliente[0].telefonoCelular">
                    </div>

                </div>
            </div>
            <!-- Acomodo 1-->







        </div>
    </section>
    <!--Tabla Documentos-->
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Datos del Contrato:</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-6">
                    <!-- class="col-md-6"-->
                    <!--form role="form"-->
                    <div class="form-group">
                        <label class="form-label">Tipo de Contrato:</label>
                        <select class="form-control" name="tipocontrato" ng-model="nuevoContrato.idTipoContrato" ng-options="tipoContrato.idTipoContrato as tipoContrato.nombreContrato for tipoContrato in listaTiposContrato">
                            <option value="">Tipo de Contrato</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Empresa:</label>
                        <select class="form-control" name="tipoempresa" ng-model="nuevoContrato.idEmpresa" ng-options="tipoEmpresa.idEmpresa as tipoEmpresa.nombreEmpresa for tipoEmpresa in listaTiposEmpresa" ng-click="TipoSucursal(nuevoContrato.idEmpresa)">
                            <option value="">Tipo de Empresa</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Sucursal:</label>
                        <select class="form-control" name="tipocontrato" ng-model="nuevoContrato.idSucursal" ng-options="tipoSucursal.idSucursal as tipoSucursal.nombreSucursal for tipoSucursal in listaTiposSucursal" ng-click="TipoDepartamento(nuevoContrato.idSucursal)">
                            <option value="">Tipo de Sucursal</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Departamento:</label>
                        <select class="form-control" name="tipocontrato" ng-model="nuevoContrato.idDepartamento" ng-options="tipoDepartamento.idDepartamento as tipoDepartamento.nombreDepartamento for tipoDepartamento in listaTiposDepartamento">
                            <option value="">Tipo de Departamento</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label class="form-label">Fecha Creación:</label>
                        <input class="form-control" placeholder="Fecha Inicio">
                    </div>

                    <div class="form-group">
                        <label class="form-label">Fecha Término:</label>
                        <input class="form-control" placeholder="Fecha Fin">
                        <!--input type="text" class="form-control datepicker" data-format="D, dd MM yyyy" value=""-->
                    </div>

                    <div class="form-group">
                        <label class="form-label">Limite de Crédito:50000.00</label>
                        <!--input class="form-control" placeholder="Fecha Inicio"-->
                    </div>


                    <!--/form-->
                </div>
            </div>
        </div>

    </section>

    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Documentos Requeridos:</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-8">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Documento</th>
                                    <th>Obligatorio</th>
                                    <th>Adjuntar Archivo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat=" tipoContrato in listaTiposContrato">
                                    <td>{{ tipoContrato.nombreContrato }}</td>
                                    <td>{{ tipoContrato.idTipoContrato }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary rss" tooltip="Editar" ng-click="Editar()">
                                            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Tabla Documentos-->
    <div class="col-md-offset-7">
        <div class="form-group">
            <button type="button" class="btn btn-secondary" tooltip="Editar" ng-click="Editar()">Cancelar
            </button>
            <button type="button" class="btn btn-primary" tooltip="Editar" ng-click="Editar()">Guardar
            </button>
            <button type="button" class="btn btn-success" tooltip="Editar" ng-click="Editar()">Solicitar Aprobación
            </button>
        </div>
    </div>



    <!--FIN Datos Contrato-->
</div>
