<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" id="page5" style="background-color:#000000;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding">
        <div class="spacer" style="width: 285px; height: 117px;"></div>
        <div class="" style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/cgeZLPjKTOmw9sl9BZjb_logoTrans.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="login-form1" class="list ">
            <div class="spacer" style="width: 285px; height: 70px;"></div>
            <ion-list id="login-list2" class=" list-inset">
                <label class="item item-input item item-input" id="login-input1">
                    <input type="text" placeholder="correo electrónico">
                </label>
                <label class="item item-input " id="login-input2">
                    <input type="password" placeholder="clave acceso">
                </label>
            </ion-list>
            <div class="spacer" style="width: 285px; height: 45px;"></div>
            <a ui-sref="tabsController.reservaciones" id="login-button1" style="font-weight:500;color:#FFFFFF;border-radius:0px 0px 0px 0px;" class=" button button-light  button-block button-outline icon-right ion-arrow-right-c ">Acceder</a>
            <div class="spacer" style="width: 285px; height: 45px;"></div>
            <a ui-sref="contacto" id="login-button2" style="font-weight:500;" class=" button button-light  button-block button-clear ">¿Informes o contratación?</a>
        </form>
    </ion-content>
</ion-view>
